body {
    background-color: rgb(32, 32, 32);
     
font-size: 25px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-header {
    text-align: center;
    color: rgb(165, 160, 62) ;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}
#Gaba{
text-align: center;
    color: rgb(162, 160, 62) ;
    -webkit-text-stroke: .7px rgb(255, 255, 255);
}
    
#Intro{
    padding:17px ;
    text-align: center;
    color: rgb(179, 177, 88) ;
}
#blog{
   padding-top: 10px;
   color: rgb(165, 160, 62) ;
   -webkit-text-stroke: 1px rgb(0, 0, 0);
    padding-bottom: 40;
}
#blog{

height: 70vh;
    width: 85vh;
    background-image: url(wood.jpg) ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#img{
    width: 45vh;
    border: black;
border-radius: 10px;

}
